body {
    background-color: #282a36;
    color:	#f8f8f2;
    font-family: 'JetBrains Mono', monospace;
}

.ctn{
    margin: 0 1em;
}

.ctn h1 {
    color: #ff79c6;
}
.ctn h2 {
    color: #ffb86c;
}

.ctn h3{
    color: #bd93f9;
}

.ctn ul{
    padding: 0px;
}
.ctn li {
    display: inline;
    
}

.ctn a{
    display: inline-block;
    text-decoration: none;
    color:  #50fa7b;
    padding: 1em;
    max-height: 5em;
}

.ctn a:hover{
    background-color: #44475a;
}

.form{
    margin: 0 auto;
    padding: 0 1.5em;
    padding-bottom: 2em;
    display: block;
    align-content: center;
    text-align: center;
}

.field{
    margin: 1.5em 0;
    display: inline-block;
}

.allfield {
    margin: 1.5em 0;
    display:inline-block;
}

.field label, .field input {
    display: inline-block;
    
}

.field label {
    min-width: 80px;
}

.field input{
    min-width: 15em;
    border-radius: 0%;
    border: 1px solid  	#8be9fd;
    padding: 0.25em 1em;
    background-color:#44475a;
    caret-color: #f8f8f2;
}


.field input::placeholder {
    font-family: 'JetBrains Mono', monospace;
    color: #8be9fd;
}

.btn{
    border-radius: 0%;
    border: 0;
    background-color:  	#6272a4;
    color: #f8f8f2;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1em;
    padding: 0.5em 1em;
    
}

.btn:hover{
    background-color:  	#bd93f9;
}


.HowTo_List {
    display: inline;
}

.HowTo_List li{
    display: block;
}

.yui{
    display: block;
    max-width: 100%;  
    height: auto; 
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.yui-container {
    display: block;
    width: auto;  
    text-align: center;  
}
